<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghostsq.commander.sftp"
    android:versionName="1.14.5b4"
    android:versionCode="32"
    android:sharedUserId="com.ghostsq.commander.userId"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="13" />

    <application android:label="@string/app_name"
        android:icon="@drawable/icon"
        android:process="com.ghostsq.commander">
    </application>

</manifest>
